// variables
$white: rgb(255, 255, 255);
$orange: rgb(255, 123, 0);
$black: rgba(0, 0, 0);
$trans-black: rgba(0, 0, 0, 0.774);
$light-grey: rgb(224, 224, 224);
$dark-grey: rgb(70, 70, 70);

//default css
* {
    font-family: "Open Sans";
}

//header.html css
header {
    padding: 1rem;
    background-color: $white;

    .logo-title-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .logo {
            margin-right: 1vw;
        }

        .nav-container {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-end;
            column-gap: 1.5rem;
            
            div {
                &.current{
                    border-bottom: solid $orange;
                }
                &:not(.current){
                    border-bottom: solid $white;
                }
            }
        }
    } 
}

img {
    width: auto; 
    max-height: 100%;
}

h1 {
    font-family: 'Bebas Neue', display;
}

.page-title {
    font-size: 5em;
    margin-top: 0vw;
    margin-bottom: 0vw;
}

nav {
    a {
        font-family: Verdana, sans-serif;
        color: black;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.current {
    color: rgb(255, 123, 0);
    font-weight: bold;
}

// games html
.games-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .game {
        display: grid;
        grid-template-columns: 10rem 25rem 10rem 15rem 13rem;
        margin: 2rem;
        height: 8rem;
        background-color: $orange;

        div {
            display: flex;
            align-items: center;
            color: $white;
        }
        
    }
}

//contact html
.contact-container {
    $width: 700px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-instructions {
        text-align: center;
        width: $width;
        color: $orange;
    }

    .contact-form {
        width: $width;

        fieldset {
            display: flex;
            flex-direction: column;
            padding: .5rem;
            border-width: 0;
        }

        input {
           margin: .5rem; 
           padding: .5rem;
           background-color: $light-grey;
           border-style: solid;
           border-width: 1px;

           &.submit {
            background-color: $black;
            color: $white;
            font-weight: bold;
            border-radius: 3px;
            font-size: 1rem;
            margin-left: 1.1rem;
           }
        }

        textarea {
            margin: .5rem; 
            padding: .5rem;
            background-color: $light-grey;
            color: $dark-grey;
        }

    }
}


//fonts
@font-face {
    font-family: "Arial Black";
    src: url("../fonts/arial_black.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

